{% extends 'base.html' %}
{% load static %}


{% block content %}


{% for department in department_list %}
<div class="managements mb-4 pb-5">
        <div class="container">
          <h2 class="text-success fs-4 mb-4">
            {{department.title}}
          </h2>
          {% for employee in employee_list %}
          {% if employee.department.title == department.title %}

          <div class="managements__inner">
            <div class="row">
              <div class="managements__item col-12 col-md-4 h-25 mb-4 mt-3">
                <div class="managements__item-inner">
                  <div class="w-100 h-100 bg-dark d-flex">
                    <img
                      src="{{employee.people.image.url}}"
                      alt=""
                      class="managements__img img-fluid cover-img w-100"
                    />
                  </div>

                  <h2 class="fs-5 fw-bold mt-3 px-3 px-lg-4">
                    {{employee.people.name}}
                  </h2>
                  <div
                    class="mt-2 d-flex flex-column flex-lg-row justify-content-lg-between px-3 px-lg-4 gap-3 pb-4"
                  >
                    <span class="fst-italic">{{employee.people.job_title}}</span>
                    <span class="fst-italic" style="color:#484848">{{employee.people.phone}}</span>
                  </div>
                </div>
              </div>

            </div>
          </div>
          {% endif %}
          {% endfor %}
        </div>
      </div>
{% endfor %}

{% endblock content %}