{% extends 'base.html' %}
{% load static %}


{% block content %}



<div class="new mb-5 pb-5">
        <div class="container">
          <h1 class="text-success fw-bold fs-4 mb-4">Фото</h1>
          <div class="new__inner py-4">
            <h2 class="fw-bold fs-4">
              {{ photo.title }}
            </h2>
            <div class="date fst-italic mt-4 mb-5">{{ photo.date }}</div>
            <div class="management__inner py-4">
              <div class="row">

                {% for photo in photo_list %}
                <a
                  href="{{photo.image.url}}"
                  class="col-12 col-md-6 col-xl-4 mt-2 mb-4 glightbox"
                >
                  <img
                    class="cover-img img-fluid w-100"
                    src="{{photo.image.url}}"
                    alt=""
                  />
                </a>
                 {% endfor %}



              </div>
            </div>
          </div>
          <hr>
          <a
            href="../"
            class="bg-success text-white fs-6 text-decoration-none px-5 py-2 mt-4 d-inline-flex"
            >Назад к списку</a
          >
        </div>
      </div>



{% endblock content %}

