{% extends 'base.html' %}
{% load static %}


{% block content %}
<div class="new mb-5 pb-5">
        <div class="container">
          <h1 class="text-success fw-bold fs-4 mb-4">Видео</h1>
          <div class="new__inner py-4">
            <h2 class="fw-bold fs-4">
              {{ video.title }}
            </h2>
            <div class="date fst-italic mt-4 mb-5">{{ video.date }}</div>
            <div class="flex-column d-flex gap-4">
              <video width="400" height="300" controls="controls" class="w-100" poster="{{video.image.url}}">
                <source src="{{video.video.url}}" type='video/ogg; codecs="theora, vorbis"'>
                <source src="{{video.video.url}}" type='video/mp4; codecs="avc1.42E01E, mp4a.40.2"'>
                <source src="{{video.video.url}}" type='video/webm; codecs="vp8, vorbis"'>
                Тег video не поддерживается вашим браузером.
                <a href="{{video.video.url}}">Скачайте видео</a>.
              </video>
            </div>
          </div>
            <hr>
          <a
            href="../"
            class="bg-success text-white fs-6 text-decoration-none px-5 py-2 mt-4 d-inline-flex"
            >Назад к списку</a
          >
        </div>
      </div>

{% endblock content %}