{% extends 'base.html' %}
{% load static %}


{% block content %}

<div class="new news-detail pb-5">
        <div class="container">
          <h1 class="text-success fw-bold fs-4 mb-4">Новости</h1>
          <div class="new__inner py-4">
            <h2 class="fw-bold fs-4">
              {{ news.title }}
            </h2>
            <div class="date fst-italic mt-4 mb-5"> {{ news.date }}</div>
            <div class="row mb-5">
<!--              <div class="col-12 col-lg-6">-->
<!--                <div class="w-100 h-100 d-flex">-->
<!--                  <img-->
<!--                    src="{{ news.image.url }}"-->
<!--                    alt=""-->
<!--                    class="new__img img-fluid cover-img w-100"-->
<!--                  />-->
<!--                </div>-->
<!--              </div>-->
              <div class="col-12 col-lg-12">
                <div
                  class="fst-italic gap-4 mt-3 mt-lg-0"
                >

                    <img
                    src="{{ news.image.url }}"
                    alt=""
                    class="new__img img-fluid cover-img"
                  /> {{ news.description|safe }}

                </div>
              </div>
            </div>
              <hr>
          </div>


                          <a
            href="../"
            class="bg-success text-white fs-6 text-decoration-none px-5 py-2 d-inline-flex"
            >Назад к списку</a
          >
        </div>
      </div>

{% endblock content %}