{% extends 'base.html' %}
{% load static %}


{% block content %}

<div class="statistics pb-5">
        <div class="container">
          <h1 class="text-success fw-bold fs-4 mb-4">Официальная статистика</h1>
          <div class="new__inner py-4">
            <h2 class="fw-bold fs-4">
              {{ item.title }} — {{ item.title }}
            </h2>
            <div class="date fst-italic mt-4 mb-2"> {{ item.date }}</div>
            <hr>
            <div class="row mb-5">

              <div class="col-12 col-md-6">
                <div
                  class="fst-italic  flex-column d-flex gap-4 mt-3 mt-lg-0"
                >
                  <p>
                    {{ item.description|safe }}
                  </p>
                </div>
              </div>
            </div>
              <hr>
          </div>


                          <a
            href="../"
            class="bg-success text-white fs-6 text-decoration-none px-5 py-2 d-inline-flex"
            >Назад к списку</a
          >
        </div>
      </div>

{% endblock content %}