{% load static %}
<footer class="bg-success pt-4 pb-5 footer">
        <div class="container pt-2 pb-1 pe-0 ps-0">
          <div class="footer__top">
            <div class="row m-0">
              <div
                class="col-12 col-md-6 col-xl-4 position-relative d-flex flex-column align-items-center align-items-xl-start"
              >
                <div class="position-absolute footer__line"></div>
                <a href="#" class="footer__logo">
                  <img src="{% static 'img/logo-footer.svg' %}" alt="" />
                </a>
                <div class="footer__socials mt-5">
                  <a
                    href="#"
                    class="footer__social text-decoration-none d-flex gap-3 align-items-center text-white"
                  >
                    <img src="{% static 'img/telegram.svg' %}" alt="" />
                    <p class="d-flex flex-column">
                      <span>Республика Абхазия, </span>
                      <span class="fw-bold">г. Сухум, ул. Званба, 9</span>
                    </p>
                  </a>
                  <a
                    href="#"
                    class="footer__social text-decoration-none d-flex gap-3 align-items-center text-white mt-3"
                  >
                    <img src="{% static 'img/phone.svg' %}" alt="" />
                    <p class="d-flex gap-2">
                      <span>+7 (840) </span>
                      <span class="fw-bold"> 226-33-14 </span>
                    </p>
                  </a>
                  <a
                    href="#"
                    class="footer__social text-decoration-none d-flex gap-3 align-items-center text-white mt-3"
                  >
                    <img src="{% static 'img/email.svg' %}" alt="" />
                    <p class="d-flex">
                      <span>info@</span>
                      <span class="fw-bold">ugsra</span>
                      <span>.org</span>
                    </p>
                  </a>
                </div>
              </div>

              <div class="col-12 col-xl-6 order-md-2 order-xl-1 my-4 my-xl-0">
                <div
                  class="row w-100 m-0 flex-column align-items-center flex-md-row align-items-md-start"
                >
                  <div
                    class="col-12 col-md-4 ps-md-0 pe-md-4 footer__navs mb-4 mb-md-0"
                  >
                    <ul
                      class="nav d-flex flex-column align-items-center align-items-md-start"
                    >
                      <li
                        class="nav-item border border-1 border-white border-top-0 border-start-0 border-end-0 mb-3"
                      >
                        <span
                          class="text-white active text-decoration-none fw-bold text-uppercase py-3 d-flex"
                          aria-current="page"
                          href="#"
                          >главная</span
                        >
                      </li>
                      <li class="nav-item">
                        <a
                          class="text-white active text-decoration-none text-lowercase fs-6"
                          aria-current="page"
                          href="#"
                          >ДОКУМЕНТЫ</a
                        >
                      </li>
                      <li class="nav-item mt-4">
                        <a
                          class="text-white active text-decoration-none text-lowercase fs-6"
                          aria-current="page"
                          href="#"
                          >ОФИЦИАЛЬНАЯ СТАТИСТИКА</a
                        >
                      </li>
                      <li class="nav-item mt-4">
                        <a
                          class="text-white active text-decoration-none text-lowercase fs-6"
                          aria-current="page"
                          href="#"
                          >ОТЧЕТНОСТЬ
                        </a>
                      </li>
                      <li class="nav-item mt-4">
                        <a
                          class="text-white active text-decoration-none text-lowercase fs-6"
                          aria-current="page"
                          href="#"
                          >ЭЛЕКТРОННАЯ ОТЧЕТНОСТЬ
                        </a>
                      </li>
                    </ul>
                  </div>
                  <div
                    class="col-12 col-md-4 ps-md-0 pe-md-4 footer__navs mb-4 mb-md-0"
                  >
                    <ul
                      class="nav d-flex flex-column align-items-center align-items-md-start"
                    >
                      <li
                        class="nav-item border border-1 border-white border-top-0 border-start-0 border-end-0 mb-3"
                      >
                        <span
                          class="text-white active text-decoration-none fw-bold text-uppercase py-3 d-flex"
                          aria-current="page"
                          href="#"
                          >структура</span
                        >
                      </li>
                      <li class="nav-item">
                        <a
                          class="text-white active text-decoration-none text-lowercase fs-6"
                          aria-current="page"
                          href="#"
                          >руководство</a
                        >
                      </li>
                      <li class="nav-item mt-4">
                        <a
                          class="text-white active text-decoration-none text-lowercase fs-6"
                          aria-current="page"
                          href="#"
                          >одразделение аппарат
                        </a>
                      </li>
                      <li class="nav-item mt-4">
                        <a
                          class="text-white active text-decoration-none text-lowercase fs-6"
                          aria-current="page"
                          href="#"
                          >районные отделы
                        </a>
                      </li>
                    </ul>
                  </div>
                  <div
                    class="col-12 col-md-4 ps-md-0 pe-md-4 footer__navs mb-4 mb-md-0"
                  >
                    <ul
                      class="nav d-flex flex-column align-items-center align-items-md-start"
                    >
                      <li
                        class="nav-item border border-1 border-white border-top-0 border-start-0 border-end-0 mb-3"
                      >
                        <span
                          class="text-white active text-decoration-none fw-bold text-uppercase py-3 d-flex"
                          aria-current="page"
                          href="#"
                          >медиаматериалы</span
                        >
                      </li>
                      <li class="nav-item">
                        <a
                          class="text-white active text-decoration-none text-lowercase fs-6"
                          aria-current="page"
                          href="#"
                          >фото</a
                        >
                      </li>
                      <li class="nav-item mt-4">
                        <a
                          class="text-white active text-decoration-none text-lowercase fs-6"
                          aria-current="page"
                          href="#"
                          >видео
                        </a>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="col-12 col-md-6 col-xl-2 order-md-1 order-xl-2">
                <ul
                  class="nav d-flex flex-column align-items-center align-items-xl-start"
                >
                  <li class="nav-item">
                    <a
                      class="text-white active text-decoration-none fw-bold text-uppercase py-3 d-flex"
                      aria-current="page"
                      href="#"
                      >новости</a
                    >
                  </li>
                  <li class="nav-item">
                    <a
                      class="text-white active text-decoration-none fw-bold text-uppercase py-3 d-flex"
                      aria-current="page"
                      href="#"
                      >Абхазия в цифрах</a
                    >
                  </li>
                  <li class="nav-item">
                    <a
                      class="text-white active text-decoration-none fw-bold text-uppercase py-3 d-flex"
                      aria-current="page"
                      href="#"
                      >контакты
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="footer__bottom text-white mt-5 px-2">
            <div
              class="d-flex flex-column flex-xl-row justify-content-center justify-content-lg-between text-center text-md-start px-1"
            >
              <div class="mb-3 mb-xl-0">
                рзработка сайта : <span class="fw-bold">Нарт Басария</span>
              </div>
              <div class="">
                2023 © “Государственный комитет Республики Абхазия по
                статистике”. Все права защищены.
              </div>
            </div>
          </div>
        </div>
      </footer>